* {
  margin: 0;
  padding: 0;
}

 body {
  height: 100vh;
  background: url(img/iswanto-arif-448003-unsplash.png) no-repeat center;
  background-size: cover;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 84%;
  margin-bottom: 129px;
  padding-top: 89px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__link {
  font-family: Museo Sans Cyrl;
  font-size: 22px;
  line-height: 26px;
  margin-right: 34px;
  color: #F8EEE4;
  text-decoration: none;
}

.header__link:last-child {
  margin-right: 0;
}

 .header__burger {
   display: none;
   width: 25px;
   height: 17px;
   position: relative;
 }

.burger__line {
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background: #808080;
  left: 0;
}
 
 .burger__line-first {
   top: 0;
 }
 
 .burger__line-second {
   top: 50%;
   transform: translateY(-50%);
 }
 
 .burger__line-third {
   bottom: 0;
 }
 
 @media (min-width:1025px) and (max-width: 1366px) {
  .header__wrapper {
    width: 84%;
    margin-bottom: 92px;
  }

  .header__logo-link {
    width: 104px;
    height: 39px;
  }
  
  .header__link {
    font-size: 16px;
    line-height: 19px;
    margin-right: 24px;
  }

  .header__link:last-child {
    margin-right: 0;
  }
}
  
@media (min-width:1025px) and (max-width: 1366px) {
  .header__wrapper {
    padding-top: 63px;
    width: 84%;
    margin-bottom: 94px;
  }

  .header__logo-link {
    width: 104px;
    height: 39px;
  }

  .header__link {
    font-size: 16px;
    margin-right: 26px;
  }

  .header__link:last-child {
    margin-right: 0;
  }
}

@media (min-width:768px) and (max-width:1024px) {
   .header__wrapper {
    padding-top: 63px;
    width: 82%;
    margin-bottom: 94px;
    }
 
   .header__logo {
    width: 104px;
    height: 39px;
    }

  .header__link {
    font-size: 16px;
    margin-right: 19px;
    }
}

@media (max-width: 767px) {
   body {
    align-items: center;
  }
  
  .header__wrapper {
    padding-top: 42px;
    width: 80%;
    margin-bottom: 55px;
  }

   .header__logo {
    width: 104px;
    height: 39px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 17px;
  }

  .burger__line {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: #FCF5ED;
    cursor: context-menu;
  }
}  